Lead Scoring & CRM Alert.json
{
  "name": "Lead Scoring & CRM Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d2f02199-7562-4a78-b454-6a7ea8ea0a5d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2574f29c-adab-46dd-b9ff-276be9eaefa2",
      "name": "Webhook",
      "webhookId": "d2f02199-7562-4a78-b454-6a7ea8ea0a5d"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.item.json.body;\n\nconst score = lead.employees > 10 ? 8 : 3;\nconst tier = score >= 7 ? 'hot' : score >= 4 ? 'warm' : 'cold';\nconst reason = score >= 7\n  ? 'Company size and urgent message indicate strong buying intent'\n  : 'Small company, low urgency signal';\n\nreturn [{\n  json: {\n    name: lead.name,\n    email: lead.email,\n    company: lead.company,\n    score: score,\n    tier: tier,\n    reason: reason,\n    date: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "2b8c4f0d-51a0-4817-824e-c466a2655eb4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appKnOBgfn93GlADc",
          "mode": "list",
          "cachedResultName": "Lead CRM",
          "cachedResultUrl": "https://airtable.com/appKnOBgfn93GlADc"
        },
        "table": {
          "__rl": true,
          "value": "tblVgTTE6iQ3swmLB",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appKnOBgfn93GlADc/tblVgTTE6iQ3swmLB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Score": "={{ String($json.score) }}",
            "Tier": "={{ $json.tier }}",
            "Reason": "={{ $json.reason }}",
            "Date": "={{ $json.date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "21553363-bf4a-4824-8a58-fb00fbe11a57",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "I2LZEHTpJPPgP6P4",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0702389-fefb-47fa-9403-9763d7834164",
              "leftValue": "={{ $json.fields.Score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "e0c3d974-bdd5-4bed-acf7-5b909a22d53e",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "fight.landxii@gmail.com",
        "subject": "=🔥 Hot Lead: {{ $json.fields.Name }}",
        "message": "=New hot lead just came in.  Name: {{ $json.fields.Name }} Email: {{ $json.fields.Email }} Score: {{ $json.fields.Score }}/10 Tier: {{ $json.fields.Tier }} Reason: {{ $json.fields.Reason }}  Follow up now.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        -96
      ],
      "id": "a6bdcc24-6993-430d-8190-d28e910fe965",
      "name": "Send a message",
      "webhookId": "a6d49284-8879-4a89-8955-4421c88d35e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "D55vwC6Sdsemc1HL",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7942a119-1d97-4381-b4dd-124241ddd193",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "350fefc2af1062012112a9fa0830e4001e5aebe920a4eb7239702465615125ad"
  },
  "id": "gPcoJUbcOPgcCojM",
  "tags": []
}